data_exp/
data_simu/
# figs/
*.md
*.tex
*.xdv
*.gz
*.pdf
# ignore all .md files except README.md
!README.md
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.xdv
*.gz
*.pdf
*.synctex
*.code-workspace
.gitignore
*.bib